[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	ignorecase = false
	trustctime = false
[user]
	email = barrett.harber@gmail.com
	name = Barrett Harber
	signingkey = 5309C58AAB0E2A4F
[commit]
	gpgsign = true
[gpg]
	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
