[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	ignorecase = false
	trustctime = false
[user]
	email = barrett.harber@gmail.com
	name = Barrett K. Harber
	signingkey = A9F3019F
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
