[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[user]
	email = barrett.harber@gmail.com
	name = Barrett K. Harber
	signingkey = A9F3019F
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
